* {
  font-family: "Courier New";
  font-weight: bold;
  color: black;
}

body {
  background: pink;
}

#start-screen,
#game-screen {
  text-align: center;
  overflow: hidden;  
}

#game-screen.show {
  transition-delay: 1s;
}

#logo{

  color: rgba(80,40,200,0.8);
}

.show {
  max-height: 1000px;
  transition-duration: 1s;
  display: block;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition-duration: 1s;
}

#start {
  background-color: yellow;
  border: 5px solid rgba(200,100,50,0.3);
  border-radius: 5px;
  font-size: 3em;
  display: block;
  margin: 100px auto;
}

#start:hover {
  cursor: pointer;
  background-color: #00FF00;
  color: yellow;
}

#start:active,
#start:focus {
  outline: none;
}
#loser{

  font-size: 2em;
  color: red;
}

#winner{

  font-size: 2em;
  color: red;
}


#word-list {
  list-style-type: none;
  padding: 0;
}

#word-list > li {
  padding: 5px;
}

#word-list > li.disabled {
  color: purple;
}

#word-list > li:not(.disabled):hover {
  color: yellow;
  font-size: 1.5em;
  cursor: pointer;
}